/back-end/.vscode
/back-end/.vs
/back-end/bin
/back-end/obj
/back-end/app.db

/back-end.UnitTests/.vscode
/back-end.UnitTests/bin
/back-end.UnitTests/obj

/back-end.IntegrationTests/.vscode
/back-end.IntegrationTests/bin
/back-end.IntegrationTests/obj
